body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #362d45; /* กำจัดสีซ้ำ */
    -webkit-tap-highlight-color: transparent; /* ป้องกันสีฟ้าในอุปกรณ์สัมผัส */
}

.image_cat {
    width: 100%;
    height: 100vh;
    background-color: transparent;
    display: flex;
    justify-content: center;
    position: relative;
    user-select: none;
}

.image_cat img {
    cursor: pointer;
    width: 100%;
    user-select: none; /* ป้องกันการเลือก */
    -webkit-touch-callout: none; /* ป้องกันการเรียกใช้เมนูเมื่อแตะ */
    user-select: none;
}

.image_cat h2 {
    position: absolute;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* เพิ่มเงาเพื่อให้ข้อความชัดเจนขึ้น */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 64px;
}

@media screen and (max-width: 500px) {
    .image_cat img {
        width: 100%;
    }
}
